<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Barbearia</title>
    <%- include('./css/styles'); %>
    <%- include('./javascript/fetch'); %>
    <%- include('./javascript/gerarCartao'); %>



</head>
<body>
  <header class="header-cartao">
    <div class="caixa">
        <h1>Sistema De Compras de Produtos e Serviços</h1>
        <br>
        <nav>
            <ul>
                <li><a href="/gerarCard" class="irCartao">Gerar Cartão</a></li>
                <li><a href="/produtos" class="irProdutos">Produtos</a></li>
                <li><a href="/relatorio">Relatorio</a></li>
            </ul>
        </nav>
    </div>
</header>
<br><br><br><br>
<hr>
  <section class="container">
    <h1 class="tit-card">Cartão Digital</h1>
    <br>
    <p class="texto-card">Para utilizar nosso produtos e serviços, primeiramente o usuario tera que ter um cartão de acesso para assim poder comprar nosso serviços</p>

    <% if (typeof success !== 'undefined' && success !== '') { %>
      <p><%= success %></p>
    <% } %>

    <div class="center-button">
      <form action="/gerarCard" class="formulario" method="post">
        <button id="cartao" name="cartao" type="submit" class="cartaoCard">Gerar Cartão</button>
      </form>
    </div>


</section>
</body>
</html>
