<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Barbearia</title>
    <%- include('./css/styles'); %>
    <%- include('./javascript/fetch'); %>
    <%- include('./javascript/gerarCartao'); %>



</head>
<body>
  <header class="header-cartao">
    <div class="caixa">
        <h1>Sistema De Compras de Produtos e Serviços</h1>

        <nav>
            <ul>
                <li><a href="/gerarCard" class="irCartao">Gerar Cartão</a></li>
                <li><a href="/produtos" class="irProdutos">Produtos</a></li>
                <li><a href="/relatorio">Relatorio</a></li>
            </ul>
        </nav>
    </div>
</header>
<br><br><br><br>
  <section class="container">
    <h1 class="tit-card">Cartão Digital</h1>
    <br>
    <p class="texto-card">Para utilizar nosso produtos e serviços, primeiramente o usuario tera que ter um cartão de acesso para assim poder comprar nosso serviços</p>

        <form action="/" class="formulario" method="post">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome">
            <label for="cartao">Cartao</label>
            <input type="number" id="cartao" name="cartao">
            <button>Gerar Cartão</button>
        </form>
</section>
</body>
</html>
