<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Barbearia</title>
    <%- include('./css/styles'); %>
    <%- include('./javascript/gerarCartao'); %>



</head>
<body>
  <header class="header-cartao">
    <div class="caixa">
        <h1>Sistema De Compras de Produtos e Serviços</h1>

        <br>

        <nav>
            <ul>
                <li><a href="/index" class="irCartao">Venda</a></li>
                <li><a href="#" class="irProdutos">Utilização</a></li>
                <li><a href="#">Gerencia</a></li>
            </ul>
        </nav>
    </div>
</header>


    <div class="resultado"></div>




</body>
</html>
