<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Barbearia</title>
    <%- include('./css/styles'); %>
    <%- include('./javascript/fetch'); %>
    <%- include('./javascript/gerarCartao'); %>



</head>
<body>
  <header class="header-cartao">
    <div class="caixa">

      <% if (mostraUsuario) { %>
        <p>Bem-vindo</p>
      <% } else { %>
        <p>Faça login para ver o conteúdo.</p>
      <% } %>


        <h1>Sistema De Compras de Produtos e Serviços</h1>

        <nav>
            <ul>
                <li><a href="/gerarCard" class="irCartao">Gerar Cartão</a></li>
                <li><a href="/produtos" class="irProdutos">Produtos</a></li>
                <li><a href="/relatorio">Relatorio</a></li>
            </ul>
        </nav>
    </div>
</header>

  <div>
    <form class="formulario" method="post">
      <label for="cartao">Digite o numero do Cartão</label>
      <input type="number" id="cartao" name="cartao" class="cartao">
      <button>Gerar Cartão</button>
  </form>
  </div>
  <br>
        <form action="/" class="formulario2" method="post" hidden>
          <fieldset>
            <legend>Escolha seus Produtos:</legend>

            <div>
              <input type="checkbox" id="cabelo" name="cabelo"/>
              <label for="cabelo">Cabelo</label>
            </div>

            <div>
              <input type="checkbox" id="barba" name="barba"/>
              <label for="barba">Barba</label>
            </div>

            <div>
              <input type="checkbox" id="sobrancelha" name="sobrancelha"/>
              <label for="sobrancelha">Sobrancelha</label>
            </div>

            <div>
              <input type="checkbox" id="limpeza" name="limpeza"/>
              <label for="limpeza">Limpeza</label>
            </div>

            <div>
              <input type="checkbox" id="nevou" name="nevou"/>
              <label for="nevou">Nevou</label>
            </div>

            <div>
              <input type="checkbox" id="depilacao" name="depilacao"/>
              <label for="depilacao">Depilação</label>
            </div>
          </fieldset>


          <fieldset>
            <legend>Escolha seus Serviços:</legend>

            <div>
              <input type="checkbox" id="cabelo_barba" name="cabelo_barba"/>
              <label for="cabelo_barba">Cabelo + Barba</label>
            </div>

            <div>
              <input type="checkbox" id="corte_completo" name="corte_completo"/>
              <label for="corte_completo">Corte Completo</label>
            </div>

            <div>
              <input type="checkbox" id="pacote_mensal" name="pacote_mensal"/>
              <label for="pacote_mensal">Pacote Mensal</label>
            </div>

          </fieldset>
        </form>

        <%- include('./javascript/escondeForm'); %>




</body>
</html>
