<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Barbearia</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        h1 {
            font-size: 24px;
        }

        h2 {
            font-size: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        div {
            background-color: #fff;
            margin: 20px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    <header>
        <h1>Sistema Barbearia</h1>
    </header>

    <div>
        <h2>Relatório Gerencial de Serviços</h2>

        <h3>Dados sobre vendas</h3>
        <ul>
            <li>Quantidade de Vendas de serviços individuais</li>
            <li>Quantidade de Vendas de kits de serviços</li>
        </ul>

        <h3>Dados sobre utilização de serviços</h3>
        <ul>
            <li>Quantidade de serviços realizados por tipo</li>
        </ul>

        <h3>Dados sobre recompensas</h3>
        <ul>
            <li>Quantidade de recompensas geradas</li>
        </ul>

        <h3>Quantidade de serviços não utilizados</h3>
        <ul>
            <li>Quantidade de serviços individuais não utilizados</li>
            <li>Quantidade de kits de serviços não utilizados</li>
        </ul>
    </div>
</body>
</html>
